<div class="container">
  <div class="header">
    <!-- <div class="row"> -->
    <div class="profile-pic">
      <img src="" alt="" />
      <!-- </div> -->
    </div>

    <div class="logo">
      <img src="../../assets/images/DoiT.png" alt="" />
    </div>
  </div>
  <p>Good morning, Felix</p>
  <div class="data-sessions">
    <div class="session-container">
      <div class="days"><p>1</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>2</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>3</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>4</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>5</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>6</p></div>
      <div class="days-text">Sun</div>
    </div>
  </div>

  <form>
    <div class="input-wrapper">
      <img src="../../assets/images/Vector.svg" alt="" />
      <input type="text" placeholder="Search" />
    </div>
  </form>

  <h2>Today's tasks</h2>

  <div class="task"></div>
</div>
