<div class="container">
  <div class="header">
    <!-- <div class="row"> -->
    <div class="profile-pic">
      <img src="" alt="" />
      <!-- </div> -->
    </div>

    <div class="logo">
      <img src="../../assets/images/DoiT.png" alt="" />
    </div>
  </div>
  <p style="margin-bottom: 12px">Good morning, Felix</p>
  <div class="data-sessions">
    <div class="session-container">
      <div class="days"><p>1</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>2</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>3</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>4</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>5</p></div>
      <div class="days-text">Sun</div>
    </div>
    <div class="session-container">
      <div class="days"><p>6</p></div>
      <div class="days-text">Sun</div>
    </div>
  </div>

  <form>
    <div class="input-wrapper">
      <img src="../../assets/images/Vector.svg" alt="" />
      <input type="text" placeholder="Search" />
    </div>
  </form>

  <h2 style="margin: 12px 0">Today's tasks</h2>

  <div class="task-container">
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>
    <div class="task">
      <div class="group-1">
        <p>4:00 PM</p>
        <div class="left-side">
          <img
            src="../../assets/images/Progress.png"
            alt=""
            class="progress-bar"
          />
          <img
            src="../../assets/images/Edit-button.png"
            alt=""
            class="edit-button"
          />
        </div>
      </div>
      <div class="group-2">
        <p>Grossaries</p>
        <div class="left-side-down">
          <p>completed</p>
          <img src="../../assets/images/delete-button.png" alt="" />
        </div>
      </div>
    </div>

    <!-- navigation -->
  </div>
</div>
